name: 'Uxntal'
scopeName: 'source.uxntal'
type: 'tree-sitter'
parser: 'tree-sitter-uxntal'

injectionRegExp: '(uxn|Uxn)(tal)?'
injectionRegex: '(uxn|Uxn)(tal)?'

fileTypes: [
  'tal'
]

comments:
  start: '('
  end: ')'

folds: [
  {
    type: 'comment'
  }
]

scopes:
  'opcode': [
    {match: '(BRK|LIT|INC|POP|DUP|NIP|SWP|OVR|ROT|EQU|NEQ|GTH|LTH|JMP|JCN|JSR|STH|LDZ|STZ|LDR|STR|LDA|STA|DEI|DEO|ADD|SUB|MUL|DIV|AND|ORA|EOR|SFT)[2kr]{,3}(\s|$)', scopes: 'keyword.control'}
  ]
